
body {
    margin: 0;
    padding: 0;
    background-color: black; 
    color: white; 
    font-family: "Lexend Giga", sans-serif;
    height: 100vh; 
    overflow: hidden; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    position: relative;
}

video {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute; 
    z-index: 1; 
    color: white;
}

.intro-text {
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.intro-text:hover {
    color: rebeccapurple; 
}

@media screen and (max-width: 1024px) {
    .navbar {
        padding: 12px 25px;
    }

    .navbar a {
        font-size: 18px;
    }

    .navbar img {
        height: 40px;
        margin-right: 25px;
    }

    .videocontainer {
        height: 250px;
    }

    .container {
        margin-top: 200px;
    }

    .content {
        gap: 20px;
    }

    .image {
        width: 100%;
        max-width: 280px;
    }

    .text {
        font-size: 16px;
    }

    .videothumbnail {
        width: 90%;
    }
}

@media screen and (min-width: 1025px) {
    .navbar {
        padding: 15px 30px;
    }

    .navbar a {
        font-size: 20px;
    }

    .navbar img {
        height: 50px;
        margin-right: 40px;
    }

    .videocontainer {
        height: 300px;
    }

    .container {
        margin-top: 400px;
    }

    .content {
        gap: 25px;
    }

    .image {
        width: 100%;
        max-width: 300px;
    }

    .text {
        font-size: 18px;
    }

    .videothumbnail {
        width: 100%;
        max-width: 400px;
    }
}