body {
    margin: 0;
    padding: 0;
    background-color: black; 
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    color: white;
}

.logo {
    width: 300px; 
    height: auto;
    margin-bottom: 100px; 
}

.links {
    display: flex; 
    gap: 30px; 
}

.links a {
    text-decoration: none; 
    color: white; 
    font-family: Archivo Black, sans-serif;
    font-size: 20px; 
    font-weight: bold; 
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

.blackmamba:hover { color: #7506cf; }  
.savage:hover { color: #6997fa; }  
.girls:hover { color: #210253; }     
.my-world:hover { color: #00ff00; }    
.drama:hover { color: #c00000; }     
.armageddon:hover { color: #3f3f3e; }  
.whiplash:hover { color: #9c9c9c; } 

.instagram:hover, .x:hover, .aespa:hover, .WelComE:hover {
    color: #570080;
    text-decoration: underline;
    font-family: "Tektur", sans-serif;
}